body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
input {
    padding: 12px 16px;
    background: #ffffff;
    border: 2px solid #dbd5e1;
    border-radius: 4px;
}
button {
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 16px;
    margin: 8px 0px 0px 0px;
    background: #1c12d8;
    border-radius: 12px;
    color: #ffffff;
}